.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px solid black;
}

.logo {
  width: 100px;
}

.navbar {
  display: flex;
}

.navbar > li {
  list-style-type: none;
  font-size: 1.5em;
  padding: 5px 20px;
}

.res-card {
  width: 400px;
  padding: 10px;
}

.res-card:hover {
  border: 2px solid black;
  border-radius: 5px;
}

.food {
  width: 100%;
}

.res-container {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}
